body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif SC', serif;
  background-image: url('../assets/Bambou.jpeg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: absolute;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Noto Serif SC', serif;
  font-size: 2em;
  margin: 1em 0;
  color: #3e3a2d;
  text-shadow: 1px 1px 0 #ccc;
  text-align: center;
}

#board {
  position: relative;
  width: 400px;
  height: 500px;
  border: 7px solid #3e3a2d;
  background-color: #b2aa90;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 2px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.piece {
  position: absolute;
  background-color: #466b44a0;
  border: 2px solid #3e3a2d;
  border-radius: 6px;
  color: #fff;
  z-index: 2;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  transition: top 0.3s ease, left 0.3s ease;
}

.piece.selected {
  outline: 3px solid #6d071a;;
  outline-offset: -5px;
}
.controls {
  text-align: center;
  margin-top: 20px;
}
.piece img.piece-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.piece[data-id='1'] {
  background-color: #c2b280;
  color: #000;
  font-weight: bold;
}
.piece:not(.ghost) {
  z-index: 2;
}

.piece.ghost {
  position: absolute;
  background-color: #c8bfae;
  opacity: 0.4;
  border-radius: 8px;
  pointer-events: none;
  z-index: 0;
  outline: 3px dashed #615837;
  outline-offset: -6px;
  z-index: 0;
}

.background-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: #b2aa90;
  border: 5px solid #3e3a2d;
  border-radius: 12px;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.modal-content h1 {
  font-family: 'Noto Serif SC', serif;
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #3e3a2d;
  text-shadow: 1px 1px 0 #ccc;
}

.modal-content p {
  font-size: 1.2em;
  color: #3e3a2d;
  margin-bottom: 1.5em;
}

.hidden {
  display: none;
}

.piece[data-size="1x1"]::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.689);
  border: 1px solid #3e3a2d;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  pointer-events: none;
  z-index: 3;
}
.piece[data-size="1x2"]::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #191970d9;
  border: 1px solid #5a3e2b;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  pointer-events: none;
  z-index: 3;
}
.piece[data-size="2x1"]::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #6d071ad9;
  border: 1px solid #5a3e2b;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  pointer-events: none;
  z-index: 3;
}

#restartBtn {
  width: 50px;
  height: 50px;
  background-color: #c2b280;
  border: 3px solid #3e3a2d;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  padding: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#restartBtn:hover {
  background-color: #8b805f;
  transform: scale(1.05);
}

#restartBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

#restartBtn:hover img{
  transform: rotate(50deg);
  transition-duration: 0.8s;
}